@tailwind base;
@tailwind components;
@tailwind utilities;

/* rid of selection with tap on mobile*/
* { -webkit-tap-highlight-color: transparent;  }

/* Remove Arrows/Spinners from inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: #1E293B;
  border: 2px solid #334155;
  -webkit-text-fill-color: #D0D4DA;
  -webkit-box-shadow: 0 0 0 1000px #1E293B inset;
  box-shadow: 0 0 0 1000px #1E293B inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #D0D4DA;
}

.react-multi-carousel-dot button {
  border: transparent !important;
  background-color: #6b7280 !important;
}
.react-multi-carousel-dot--active button {
  opacity: 100% !important;
  background-color: #374151 !important;
}

html,
body,
:root{
  @apply bg-slate-950 h-[100%];
}

::-webkit-scrollbar{
  @apply ml-1 w-2.5 h-1;
}

/*Track*/
::-webkit-scrollbar-track {
  @apply ml-1 bg-transparent;
}

/*Handle*/
::-webkit-scrollbar-thumb {
  @apply ml-1 bg-slate-600 rounded-md h-[40%];
}